@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    font-family: 'Press Start 2P', cursive;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(170, 238, 167);
    position: relative;
}

.start {
    font-size: 1rem;
    position: absolute;
    border: 1px solid black;
    background: none;
    border-radius: 1rem;
    padding: 1rem;
    outline: none;
}

.start:hover {
    border: none;
    background: white;
}

.game-over {
    position: absolute;
    font-size: 5rem;
    margin-bottom: 10rem;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.points {
    position: absolute;
    bottom: 0;
    right: 1rem;
    font-size: 2rem;
}

.finished-game {
    position: absolute;
    top: 60px;
    font-size: 5rem;
    color: red;
    text-decoration: underline;
}
